{% if title is not defined %}
    {% set title = 'Untitled Chart' %}
{% endif %}

{% if label is not defined %}
    {% set label = 'Actions' %}
{% endif %}

{% set dateRangePrefix = dateRangePrefix|default('last') %}

{% if id is not defined %}
    {% set id = random('abcdefghijklmnopqrstuvwxyz0123456789-') %}
{% endif %}

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{ title }} <small>{{ dateRangePrefix }} {{ chart.daysRange }} days</small></h5>
    </div>
    <div class="ibox-content">
        <div id="{{ id }}"></div>
    </div>
</div>

<script>
    $(function() {
        var formatDate = function (x) {
            var d = new Date(x);
            return d.getDate() + '.' + (d.getMonth() + 1) + '.';
        };

        c3.generate({
            bindto: '#{{ id }}',
            data:{
                columns: JSON.parse('{{ chart.preparedResult('json')|raw }}'),
                type : 'pie'
            }
        });
    });
</script>